ul{
    list-style-type: none;
}
.header-container {
    border-bottom: 1px solid #449d44;
}
.brand-name {
    font-weight: bold;
    font-size: 30px;
    margin: 20px 0;
}
.d-flex{
    display: flex;
}
.img-btn {
    background-color: #449d44;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 22px;
    cursor: pointer;
    height: 85px;
}
    .img-btn:hover {
        background-color: #5cb85c;
    }
.lbl {
    font-size: 18px;
    color: #3c763d;
}
img.radio-img {
    height: 150px;
}
@media screen and (max-width: 767px){
    img.radio-img {
        height: 75px;
    }
}
.type-radio span{
    display: block;
    font-size: 24px;
    text-align: center;
}
.type-radio input[type="radio"]:checked ~ * {
    background: #5cb85c !important;
    color: #fff;
}
.type-radio {
    border: 2px solid #fff;
    cursor: pointer;
}
.type-radio.selected {
    border: 2px solid #449d44;
}
.search-btn{
    height: 100%;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}
.mt-15{
    margin-top: 15px;
    display: block;
    width: 100%;
    clear: both;
}
.c-form-control {
    display: inline-block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}
.c-label {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;   
}
.quote-actions-share {
    padding-bottom: 30px;
}
    .quote-actions-share > li, .quote-actions > li {
        float: left;
        margin-right: 5px;
        margin-top: 5px;
    }
    .quote-actions-share a {
        transition: all ease-in .3s;
        -webkit-transition: all ease-in .3s;
        display: block;
    }
    .quote-actions-share i, .quote-actions i {
        color: #fff;
    }
.c-card{
    margin-bottom: 15px;
}