@model HomeModel
@{
    var data = "data to share";
}
<div class="container">
    <br />
    <h2 class="text-success">Search for...</h2>
    <br />
    <div class="search-form">
        <div class="form-group">
            <div class="clearfix"></div>
            <div class="col-sm-4 text-center">
                <label class="type-radio lbl">
                    <input type="radio" name="search-service-type" value="1" />
                    <img class="radio-img" src="~/Content/Images/oxygen.jpeg" />
                    <span>Oxygen</span>
                </label>
            </div>
            <div class="col-sm-4 text-center">
                <label class="type-radio lbl">
                    <input type="radio" name="search-service-type" value="3" />
                    <img class="radio-img" src="~/Content/Images/plasma.jpeg" />
                    <span>Plasma</span>
                </label>
            </div>
            <div class="col-sm-4 text-center">
                <label class="type-radio lbl">
                    <input type="radio" name="search-service-type" value="2" />
                    <img class="radio-img" src="~/Content/Images/meds.jpeg" />
                    <span>Medicines</span>
                </label>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="mt-15"></div>
        <div class="form-group">
            <div class="col-sm-8">
                <div class="col-sm-6">
                    <label class="control-label lbl">State</label>
                    <div class="form-group">
                        <Select class="form-control lbl" id="search-state">
                            <option value="">Select State</option>
                            @foreach (State s in Model.States)
                            {
                                <option value="@s.Id">@s.Name</option>
                            }
                        </Select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="control-label lbl">City</label>
                    <Select class="form-control lbl" id="search-city">
                        <option value="">Select City</option>
                    </Select>
                </div>
                <div class="col-sm-12">
                    <button class="btn btn-block btn-success search-btn" id="search-btn">
                        <span class="glyphicon glyphicon-search"></span> Search
                    </button>
                </div>
            </div>
            <div class="col-sm-4">
                <label class="control-label lbl">Text</label>
                <textarea class="form-control lbl" id="search-freetext" rows="3" placeholder="Search for anything"></textarea>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="container-fluid">
    <div class="row" id="results-container">
        @{ Html.RenderPartial("_RecordsList", Model.Recent);}
    </div>
</div>

<div id="add-info-modal" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Submit Covid Resource Information</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">Please check the entry before your Entry <br />कृपया अपने प्रवेश से पहले प्रविष्टि की जाँच करें</p>
                <hr />
                <div class="form-group">
                    <div class="col-sm-4 text-center">
                        <label class="lbl">
                            <input type="radio" name="add-service-type" value="1" />
                            <span>Oxygen</span>
                        </label>
                    </div>
                    <div class="col-sm-4 text-center">
                        <label class="lbl">
                            <input type="radio" name="add-service-type" value="3" />
                            <span>Plasma</span>
                        </label>
                    </div>
                    <div class="col-sm-4 text-center">
                        <label class="lbl">
                            <input type="radio" name="add-service-type" value="2" />
                            <span>Medicines</span>
                        </label>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <label class="control-label lbl">Provider name: </label>
                    <input type="text" id="add-name" class="form-control lbl" maxlength="250" placeholder="Provider name" />
                </div>
                <div class="form-group">
                    <label class="control-label lbl">Contact number*: </label>
                    <input type="number" id="add-contact" maxlength="10" pattern="[0-9]{10}" class="form-control lbl" onkeypress="if (this.value.length > 9) return false;" placeholder="10-digit Contact number" />
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label lbl">State: </label>
                            <Select class="form-control lbl" id="add-state">
                                <option value="">Select State</option>
                                @foreach (State s in Model.States)
                                {
                                    <option value="@s.Id">@s.Name</option>
                                }
                            </Select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label lbl">City: </label>
                            <Select class="form-control lbl" id="add-city">
                                <option value="">Select City</option>
                            </Select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label lbl">Address: </label>
                    <textarea id="add-address" class="form-control lbl" rows="2" placeholder="Address" maxlength="300"></textarea>
                </div>
                <div class="form-group">
                    <label class="control-label lbl">Additional Information: </label>
                    <textarea id="add-remark" class="form-control lbl" rows="4" placeholder="Additional information..." maxlength="300"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success lbl" id="add-btn">Submit Information</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>